<!DOCTYPE html>
<html>
	<head>
		<title>Delete Error!!</title>
	</head>
	<body style="background-color: grey;">
		<center><h2>Cannot delete the blogs uploaded by others.</h2></center>
	</body>
</html>