<!DOCTYPE html>
<html>
	<head>
		<title>Upload Successful!!</title>
	</head>
	<body style="background-color: grey;">
		<center><h2>Blog has been uploaded successfully!!</h2></center>
	</body>
</html>
